.cont-bg{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content:"";
        width: 90%;
        height: 100%;
        position: absolute;
        background:url("../../assets/bg1.jpg");
        background-size: cover;
        filter: blur(4px);
    }
    >div{
        z-index: 10;
        padding: 0 2rem;

        h2{
            text-transform: capitalize;
            color: #FFA630;
            font-size: 4rem;
        }

        p{
            color: #D7E8BA;
            font-size: 1.25rem;
        }

    }

   
}

