nav{
    font-family: 'Roboto', sans-serif;
    
    .logo{
        font-family: 'Poppins', cursive;
        font-weight: 700;
        font-size: 2rem;
        color: #FFA630;
        cursor: pointer;
    }
    
    li{
        a{
            margin: 0 2rem;
            text-transform: uppercase;
            &:hover{
                color: #FFA630 !important;
            }
        }

        &:hover{
            cursor: pointer;
            // color: #FFA630;
        }
    }
   
}


@media screen and (max-width:992px) {
    .contact-btn{
        display: none;
    }
}