@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type:none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #2D283E;
    color: #fff;
}

.common-heading{
    margin-bottom: 2rem;
    text-align: center;
    color: #e6952b;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-thickness: 0.75px;
}